
.home{
    /* background-color: lightblue; */
    background: url('../../../assets/building.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem 1.5rem;
    min-height: 100vh;
}
.navbar{
    /* position: fixed; */
    width: 100%;
    text-align: center;
}
.home .innerHome{
    padding: 1.5rem;
}
.grid-container{
    display: grid;
    grid-template-columns: auto;
}
.grid-item{
    padding: 2rem;
    /* box-shadow: 3px 4px 15px 4px rgb(220, 218, 218); */
    color:azure;
    min-height: 70vh;
}
.grid-item span{
    font-weight: bolder;
    font-size: 2rem;
}